
@{
    ViewBag.Title = "Edit";
}

{% extends 'panel/base.html' %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Düzenleme Tablosu</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                <a href="/panel/altkategoriresimtablo" class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">TÜM RESİMLER</a>
                <ol class="breadcrumb">
                    <li><a href="#">ANASAYFA</a></li>
                    <li><a href="#">SLİDER ALTI RESİMLER</a></li>
                    <li class="active">RESİM</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">FORM</h3>
                    <p class="text-muted m-b-30 font-13"> FORM ÖĞELERİ </p>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <form method="POST" action="" class="form-signin" role="form" enctype="multipart/form-data">
                                <div class="control-group">
                                    <label>BAŞLIK</label>
                                    <div class="controls">
                                        <input type="text" name="title" value="{{ adi }}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="file" name="kategori_image">
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                    DÜZENLE
                                </button>
                                {% csrf_token %}
                                <!--<button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in</footer>
</div>
{% endblock %}
