<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/panel/../plugins/images/favicon.png">
    <title>Yönetim Paneli</title>
    <link href="~/Content/panel/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/panel/../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="~/Content/panel/css/animate.css" rel="stylesheet">
    <link href="~/Content/panel/css/style.css" rel="stylesheet">
    <link href="~/Content/panel/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs"><i class="ti-close ti-menu"></i></a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="mdi mdi-check-circle"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Panel</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#" class="waves-effect"><i class="ti-layout-width-default fa-fw"></i> <span class="hide-menu">Anasayfa Ayarları<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/panel/slidertablo"><i data-icon="&#xe026;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">1 - Slider İşlemleri</span></a></li>
                            <li><a href="/panel/altkategoriresimtablo"><i data-icon="&#xe025;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">2 - Banner İşlemleri</span></a></li>
                            <li><a href="/panel/koleksiyontablo"><i class="ti-layout-menu fa-fw"></i> <span class="hide-menu">3 - Koleksiyon İşlemleri</span></a></li>
                            <li><a href="/panel/karttablo"><i class="ti-alert fa-fw"></i> <span class="hide-menu">4 - Kart Ayarları</span></a></li>
                            <li><a href="/panel/blogtablo"><i data-icon="k" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">4 - Blog İşlemleri</span></a></li>
                            <li><a href="/panel/footertablo"><i data-icon="&#xe009;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">5 - Footer Ayarları</span></a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-list-alt fa-fw"></i> <span class="hide-menu">Kategori İşlemleri<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="/panel/kategoribannertablo"><i class="fa-fw">1</i> <span class="hide-menu">Galeri</span></a></li>
                            <li><a href="/panel/kategoritablo"><i class="fa-fw">1</i> <span class="hide-menu">AnaKategoriler</span></a></li>
                            <li><a href="/panel/koleksiyonkategoritablo"><i class="fa-fw">2</i> <span class="hide-menu">Koleksiyon Başlıkları</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-list-alt fa-fw"></i><span class="hide-menu">Renkler<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="/panel/renklertablo"><i class="fa-fw">1</i><span class="hide-menu">Renkler</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-list-alt fa-fw"></i><span class="hide-menu">Detay Sayfası<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="/panel/detailfototablo"><i class="fa-fw">1</i><span class="hide-menu">Detay Fotoları</span></a></li>
                            <li><a href="/panel/detailfeaturetablo"><i class="fa-fw">1</i><span class="hide-menu">Detay İçerik</span></a></li>
                        </ul>
                    </li>

                    <li> <a href="/panel/hakkimizdatablo" class="waves-effect"><i class="ti-info-alt fa-fw"></i> <span class="hide-menu">Hakkımızda Ayarları</a>

                    <li><a href="#" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Çıkış</span></a></li>

                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        {% block content %}

        {% endblock %}
    </div>
    <script src="~/Content/panel/../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/panel/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/panel/../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/panel/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/panel/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/panel/js/custom.min.js"></script>
    <!-- jQuery peity -->
    <script src="~/Content/panel/../plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="~/Content/panel/../plugins/bower_components/peity/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="~/Content/panel/../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>