
@{
    ViewBag.Title = "Colors";
}

{% extends 'home/base.html' %}
{% block title %}
SHOP
{% endblock title %}
{% block content %}
<div class="section">
    <div class="products-in-category-tabs-wrapper container">
        <div class="products-content">
            <div class="woocommerce product-listing columns-4">

                <div class="sidebar-shop-search toggle-sidebar-shop">
                    <form>
                        <input type="text" placeholder="Search product" /><a href="#"><i class="fa fa-search"></i></a>
                    </form>
                </div>
                <div class="sidebar-shop-col toggle-sidebar-shop">

                </div>
                <div class="desc-review-content tab-content clearfix">
                    <div id="1a" class="tab-pane active">
                        {% for i in renk %}
                        <div class="product-item-wrap has-post-thumbnail">
                            <div class="product-item-inner">
                                <div class="product-thumb">
                                    <div class="product-flash-wrap"></div>
                                    <div class="product-thumb-primary" style="width: 270px !important; height: 270px !important;"><img width="300" height="400" src="/{{ i.renk_image }}" alt="41" title="41" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div>

                                    <div class="product-hover-sign">
                                        <hr />

                                    </div></a>

                                </div>
                                <div class="product-info">
                                    <h3><b>{{ i.title }}</b></h3></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock %}

