
@{
    ViewBag.Title = "Contactus";
}

{% extends 'home/base.html' %}
{% block title %}
BİZE ULAŞIN
{% endblock title %}
{% block content %}
<div id="example-wrapper">
    <div class="section">
        <div class="banner-sub-page">
            <div class="contact-us-map">
                <div class="map-embed">
                    <div class="contact-us-map">
                        <div class="map-embed">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.762292070541!2d28.974303914924704!3d41.07418837929414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab6e0f8d99163%3A0x5de1e9849d843177!2zRUvEsFAgQsOcUk8gTU9CxLBMWUEgREVLT1JBU1lPTg!5e0!3m2!1str!2str!4v1548161291039" width="1920" height="600" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="contact-us-content">
                        <h2>PRATİK BİLGİLER</h2>
                        <div class="wpb_text_column">
                            <div class="wpb_wrapper">
                                <p>İletisim Bilgilerimiz Aşağıdadır.</p>
                                <div class="row-icon-box row">
                                    <div class="col-md-4">
                                        <div class="icon-box icon-box-style1">
                                            <div class="icon-box-left"><i class="fa fa-map-marker color-3f font-25"></i></div>
                                            <div class="icon-box-right">
                                                <p class="color-3f">Bizi Ziyaret Edin</p><span>
                                                    Gürsel Mah. Kağıthane Cad. No:78,
                                                    Kağıthane / İSTANBUL
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-box icon-box-style1">
                                            <div class="icon-box-left"><i class="fa fa-phone color-3f font-25"></i></div>
                                            <div class="icon-box-right">
                                                <p class="color-3f">TELEFON</p><span>+90 (212) 210 88 10</span>
                                                <p class="color-3f"></p><span>+90 (212) 220 35 98</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon-box icon-box-style1">
                                            <div class="icon-box-left"><i class="fa fa-envelope-o color-3f font-25"></i></div>
                                            <div class="icon-box-right">
                                                <p class="color-3f">BİZİMLE ÇALIŞMAK İSTER MİSİNİZ?</p><span>ekip@ekipmobilya.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                            </div>
                        </div>
                        <div class="contact-bottom">
                            <h2>İLETİŞİM</h2>
                            <div class="row">
                                <div class="contact-bottom-left col-md-12">
                                    <form action="#" method="post" novalidate="novalidate" class="wpcf7-form">
                                        <p></p>
                                        <h6>İSİM *</h6>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input name="your-name" value="" size="40" placeholder="ADINIZI GİRİN..." type="text" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" />
                                            </span>
                                        </p>
                                        <p></p>
                                        <h6>EMAIL *</h6>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input name="your-email" value="" placeholder="EMAİL ADRESİNİZİ GİRİN" type="email" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" />
                                            </span>
                                        </p>
                                        <p></p>
                                        <h6>MESAJ</h6>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <textarea name="your-message" cols="40" rows="4" aria-invalid="false" class="wpcf7-form-control wpcf7-textarea"></textarea>
                                            </span>
                                        </p>
                                        <p>
                                            <input value="MESAJ GÖNDER" type="submit" class="wpcf7-form-control wpcf7-submit" />
                                        </p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

