@model IEnumerable<EkipMobilya.Models.KoleksiyonBaslik>
@{
    ViewBag.Title = "KoleksiyonBaslikIndex";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Düzenleme Tablosu</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                <a href="/panel/koleksiyonkategoriekle" class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">EKLE</a>
                <ol class="breadcrumb">
                    <li><a href="#">ANASAYFA</a></li>
                    <li><a href="#">KOLEKSİYONKATEGORİ</a></li>
                    <li class="active">TABLO</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <!-- .row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">MANAGE USERS</div>
                    <div class="table-responsive">
                        <table class="table table-hover manage-u-table">
                            <thead>
                                <tr>
                                    <th width="70" class="text-center">#</th>
                                    <th>İsim</th>
                                    <th width="300">MANAGE</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {                                
                                <tr>
                                    <td class="text-center">@item.KoleksiyonBaslikId</td>
                                    <td>
                                        @item.KoleksiyonBaslikIsim
                                    </td>
                                    <td>
                                        @Html.ActionLink("Güncelle", "Edit", new { id = item.KoleksiyonBaslikId }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Sil", "Delete", new { id = item.KoleksiyonBaslikId }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2019 &copy;Powered by Dogruyer Reklam Bilişim Organizasyon A.Ş </footer>
</div>


